---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="search">
    <form id="api_search">
      <label for="select_team"><span>Team: </span>
        <select name="team" id="select_team">
          <option value=""> --- </option>
        </select>
      </label>
      <label for="select_season"><span>Season: </span>
        <select name="season" id="select_season">
          <option value=""> --- </option>
        </select>
      </label>
      <input type="submit" value="Find a game" />
    </form>
  </div>
  <div id="embed_container"></div>

</div>
